.App {
  text-align: center;
}
/* Container needed to position the button. Adjust the width as needed */
.error-container {
  position: relative;
  width: 100%;
  
}

/* Make the image responsive */
.error-container img {
  width: 100%;
  height:100%;
}

/* Style the button and place it in the middle of the container/image */
.error-container .btn {
  position: absolute;
  top: 15%;
  left: 46%;
  background-color: #cd4343;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.mr-auto {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-right:0 !important;
}
.cocktail-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 3%;
}
.single-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Form-container{
  display: flex;
  justify-content: center;
  margin-top: 2%;
  align-items: center;
  width: 100%;
}
.about-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding :5% 0 5% 0;
  width: auto;
  text-align: center;
}